* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 
}


/* body {
  background-color: rgb(191, 147, 108);
    
} */


.left{
    width: 40vw;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
}

.foundation {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    margin: auto;
    top: 40%; 
    
}

form {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 60%%;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

input {
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
   

}

.search, .submit {
    border: 1px solid black;

}

.submit {
    background-color: saddlebrown;
    color: white;
    &:hover {
        color: black;
        background-color: rgb(198, 135, 83);

    }

}

.right {
    display: flex;
    position: relative;
    justify-content: flex-start;
    background-image: url(../img/babys_breath.png);
    background-size: auto 100vh;
    background-position: -35vw 0;
    background-repeat: no-repeat;
    overflow: scroll;
    width: 60vw;
    height: 100vh;
    
}


.results {
    position: absolute;
    margin: 30px 50px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.list {
    display: grid;
    grid-template-rows: auto;
    gap: 2em;
    
}

li {
    list-style-type: none;
    
}

.info   {
    position: relative;
    left: 20px;
    overflow: hidden;
    display: grid;
    gap: .3em;
 
}

.product_pic {
    float: left;
    height: auto;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid rgba(135, 61, 41, 0.733);
}